html {
  font-size: 10px;
}

body {
  margin: 0px;
}

.hero {
  background-image: linear-gradient(
      to right,
      rgb(0, 0, 0, 0.2),
      rgb(0, 0, 0, 0.9)
    ),
    url("../images/hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
}

.logo {
  position: absolute;
  top: 3rem;
  left: 3rem;
}

.logo-image {
  width: 6rem;
}

.logo--animated {
  animation: moveFromTopWithBounce 1s ease-out;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #e6e6e6;
  text-align: center;
  width: 95%;
}

.container > h1 {
  font-size: 6rem;
  animation: moveInFromLeftAndResize 1s ease-out;
}

.container > h2 {
  font-size: 3rem;
  animation: fadeIn 1s ease-out;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.btn {
  background-color: #e9c46a;
  padding: 0.8rem;
  min-width: 200px;
  margin: 10px;
  text-decoration: none;
  color: #264653;
  font-size: 1.8rem;
  border-radius: 0.2rem;
}

.btn:hover {
  font-weight: bold;
  background-color: rgb(233, 196, 106, 0.8);
  transform: translateY(-3px);
  box-shadow: 0.1rem 0.4rem 0.8rem rgb(230, 230, 230, 0.7);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

@keyframes moveFromTopWithBounce {
  0% {
    transform: translateY(-10rem);
  }

  50% {
    transform: translateY(3rem);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes moveInFromLeftAndResize {
  0% {
    font-size: 8rem;
    transform: translateX(-50%);
  }

  20% {
    font-size: 7rem;
    transform: translateX(-20%);
  }

  100% {
    font-size: 6rem;
    transform: translateX();
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}
